[submodule "themes/twenty-twenty-hugo"]
	path = themes/twenty-twenty-hugo
	url = https://github.com/themefisher/twenty-twenty-hugo
[submodule "themes/dataenergy-tanka"]
	path = themes/dataenergy-tanka
	url = https://github.com/EnriquePH/hugo-tanka
[submodule "themes/dataenergy-binario"]
	path = themes/dataenergy-binario
	url = https://github.com/EnriquePH/Binario
